body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url("./pivo.png") no-repeat;
    background-size: cover;
    align-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10em 8em 0 8em;
    gap: 10em;
    background: #000000;
    opacity: 0.9;
    border-radius: 24px;
    padding: 2em;
}

.calculadora {
    width: 100%;
}

h1 {
    margin-left: 30%;
}

label {
    display: block;
    margin-bottom: 5px;
}
#sistemaDeIrrigacao, #tipoDeCultura {
    width: 78%;
    border-radius: 8px;
}

#xVezes, #area, #custo, #pressao {
    width: 76%;
    border-radius: 8px;
}

#frequenciaInput {
    width: 18%;
    border-radius: 8px;
}

#frequencia {
    width: 18%;
    border-radius: 8px;
}


select {
    width: 15%;
    padding: 8px;
    margin-bottom: 5px;
}

input {
    width: 10%;
    padding: 8px;
    margin-bottom: 5px;
}

button {
    padding: 9px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.button {
    margin-left: 30%;
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #000000;
}

.tabela {
    width: 100%;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;  
    margin-top: 20px;
    color: #000000;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #000000;
    padding: 1.5em 0;
    opacity: 0.9;
}

#tmp{
    width: 30%;
}

.bd {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.banco {
    width: 100%;
    padding: 1em 2em;
}


div#abas nav a{ 
    display: inline-block;
    padding: 20px;
    border: 1px solid;
    margin: 2px;
    color: rgb(240, 240, 240);
    border: none;
    border-radius: 4px;
    text-decoration: none;
}
div#abas nav a:hover{ 
    background-color: #2e2e2e;
}
div#abas div {
    display:none;
}
div#abas div:target{
    display: block;
}

.container2{
    display: flex;
    justify-content: center;
    width: 50%;
    min-height: 400px;
    margin: 10em 8em 0 8em;
    gap: 10em;
    background: #000000;
    opacity: 0.9;
    border-radius: 24px;
    padding: 2em;
}

.cabecalho {
    display: flex;
    align-items: start;
    width: 10%;
}
