body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url("./pivo.png") no-repeat;
    background-size: cover;
    align-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10em 8em 0 8em;
    gap: 10em;
    background: #000000;
    opacity: 0.9;
    border-radius: 24px;
    padding: 2em;
}

.calculadora {
    width: 100%;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}
#sistemaDeIrrigacao, #culture_type  {
    width: 80%;
    border-radius: 12px 0 0 12px;
}

#add_system, #add_type {
    border-radius: 0 12px 12px 0;
}

#xVezes, #area, #custo, #pressao {
    width: 76%;
    border-radius: 12px;
}

#frequencia {
    width: 18%;
    border-radius: 12px;
}

select {
    width: 15%;
    padding: 8px;
    margin-bottom: 5px;
}

input {
    width: 10%;
    padding: 8px;
    margin-bottom: 5px;
}

button {
    padding: 9px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.button {
    margin-left: 30%;
    border-radius: 12px;
}

h2 {
    text-align: center;
    color: #000000;
}

.tabela {
    width: 100%;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;  
    margin-top: 20px;
    color: #000000;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #000000;
    padding: 1.5em 0;
    opacity: 0.9;
}

.bd {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.banco {
    width: 100%;
    padding: 1em 2em;
}